@tailwind base;
@tailwind components;
@tailwind utilities;

  html{
    --action-color: #262045;
    --primary-color: #4F298B;
    --base-color1: #4A297F;
    --base-color2: #1A1E2E;
    --my-text-color: #eaeaea;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  input {
    border-radius: 8px;
  }

  input:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 1px;
  }

  .site {
    position: relative;
    min-height: 100%;
    padding: 2rem;
    display: grid;
    place-items: center;
  }
  .site::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
  }
  .phone {
    z-index: 1;
    width: 13rem;
    height: 24rem;
    padding: 0 0.5rem;
    border: 0.25rem solid var(--primary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--my-text-color);
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
  }
  .phone.-loooooong{
    height: 100%;
  }
  
  .phone_mic {
    height: 0.25rem;
    width: 4rem;
    margin: 1rem auto;
    border-radius: 999rem;
    background-color: var(--base-color);
  }
  .phone_screen {
    position: relative;
    flex: 1 0 auto;
    background-color: var(--primary-color);
    border-radius: 12px;
  }
  .phone_screen::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    clip-path: polygon(70% 0, 100% 0%, 100% 100%, 30% 100%);
  }
  .phone_button {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--base-color);
    border-radius: 50%;
    margin: 1rem auto;
  }

  .notification {
    position: absolute;
    top: 3%;
    right: 22.5%;
    background-color: var(--base-color);
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: myAnim 2s;
    animation-iteration-count: infinite;
  }

  @keyframes myAnim {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }